<h1>Comedians</h1>
<% @comedians.each do |comedian| %>
  <ul>
    <li>
      <p>Name: <%= comedian.name %></p>
      <p>Age: <%= comedian.age %></p>
      <p>Specials Count: <%= comedian.specials.count %></p>
    </li>
  </ul>
<% end %>
<h3>Average Comedians Age: <%= @comedians.average_comedians_age %></h3>

<h1>Specials</h1>
<% @specials.each do |special| %>
  <ul>
    <li>
      <p><%= special.name %></p>
      <p>Author: <%= special.comedian.name %></p>
    </li>
  </ul>
<% end %>
